.container{
    padding: 1%;
    margin-right: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
    background-color: antiquewhite;
    border-radius: 25px;
}
#lives-container{
    border-right: solid 1px black;
}
h2{
    width:40%;
    margin-right: 1%;
}